body {
    background-color: #f2b701;
}

h1, h2 {
    font-family: 'Sriracha', cursive;
}

.wrapper {
    max-width:1440px;
    width: 100%;
    margin: auto;
    background-color: #fffae9;
    min-height: 100vh;
}

.hero {
    background-color: #fbc500;
}

// Bootstrap customization

.nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

.display-4 {
    line-height: 1;
}